<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <header>
      <h1>Admin Panel</h1>

      <!--Linking between admin pages-->
      <nav>
        <ul>
          <li><a href="/admin">Dashboard</a></li>
          <li><a href="/admin/students">Manage Students</a></li>
          <li><a href="/admin/grades">Manage Grades</a></li>
          <li><a href="/admin/upload-csv">Upload CSV</a></li>
          <li><a href="/admin/messages/new">Send Messages</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>

      <hr />
    </header>
