<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="/styles.css" />
  <title>Student Dashboard</title>
</head>
<body>
  <%- include("partials/banner", { req }) %>

  <div class="page-header">
    <h3>Student Dashboard</h3>
</div>

  
  <main class="container">
    <h2>Welcome, <%= studentName %></h2>
    
    <div class="dashboard-grid">
      <a href="/student/profile" class="dashboard-tile" title="View your student profile.">
        <img src="/icons/profile.png" alt="Profile">
        <h4>My Personal Profile</h4>
      </a>
    
      <a href="/student/grades" class="dashboard-tile" title="View your grades">
        <img src="/icons/grades.png" alt="Grades">
        <h4>My Academic Records</h4>
      </a>
    
      <a href="/student/progression" class="dashboard-tile" title="Check your progression.">
        <img src="/icons/progression.png" alt="Progression">
        <h4>My Progression Status</h4>
      </a>
    
      <a href="/student/messages" class="dashboard-tile" title="View messages from your admins.">
        <img src="/icons/messages.png" alt="Messages">
        <h4>My Messages</h4>
      </a>
    </div>
    
  </main>
  
    

  </main>

  <footer>
    <p>University © <%= currentYear %></p>
  </footer>
</body>
</html>
